<div class="container">
    <h3>{{site.sec6}}</h3>
    <p>{{site.sec7}}</p>
    <div class="features">
        <article>
            <a href="https://summerofcode.withgoogle.com/" class="image"><img src="/assets/images/pic01.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec8}}</h4>
                <p>{{site.sec9}}</p>
            </div>
        </article>
        <article>
            <a href="http://krssg.in/index.html" class="image"><img src="/assets/images/pic02.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec10}}</h4>
                <p>{{site.sec11}}</p>
            </div>
        </article>
        <article>
            <a href="https://kossiitkgp.org/" class="image"><img src="/assets/images/pic03.png" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec12}}</h4>
                <p>{{site.sec13}}</p>
            </div>
        </article>
    </div>
</div>