<ul class="icons">
    {% if site.facebook %}
    <li><a href="https://facebook.com/{{ site.facebook }}" class="icon fa-facebook" target="_blank" ><span class="label">Facebook</span></a></li>
    {% endif %}

    {% if site.twitter %}
    <li><a href="https://twitter.com/{{ site.twitter }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
    {% endif %}

    {% if site.google %}
    <li><a href="https://plus.google.com/+{{ site.google }}" class="icon fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
    {% endif %}

    {% if site.instagram %}
    <li><a href="https://instagram.com/{{ site.instagram }}" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
    {% endif %}

    {% if site.pinterest %}
    <li><a href="https://pinterest.com/{{ site.pinterest }}" class="icon fa-pinterest-p" target="_blank"><span class="label">Pinterest</span></a></li>
    {% endif %}

    {% if site.linkedin %}
    <li><a href="https://linkedin.com/in/{{ site.linkedin }}" class="icon fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
    {% endif %}

    {% if site.youtube %}
    <li><a href="https://youtube.com/{{ site.youtube }}" class="icon fa-youtube" target="_blank"><span class="label">Youtube</span></a></li>
    {% endif %}

    {% if site.spotify %}
    <li><a href="https://open.spotify.com/user/{{ site.spotify }}" class="icon fa-spotify" target="_blank"><span class="label">Spotify</span></a></li>
    {% endif %}

    {% if site.lastfm %}
    <li><a href="https://last.fm/user/{{ site.lastfm }}" class="icon fa-lastfm" target="_blank"><span class="label">Lastfm</span></a></li>
    {% endif %}

    {% if site.github %}
    <li><a href="https://github.com/{{ site.github }}" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
    {% endif %}
    
    {% if site.stackoverflow %}
    <li><a href="https://stackoverflow.com/users/{{ site.stackoverflow }}" class="icon fa-stack-overflow" target="_blank"><span class="label">Stackoverflow</span></a></li>
    {% endif %}

    {% if site.quora %}
    <li><a href="https://www.quora.com/profile/{{ site.quora }}" class="icon fa-quora" target="_blank"><span class="label">Quora</span></a></li>
    {% endif %}

    {% if site.reddit %}
    <li><a href="https://www.reddit.com/user/{{ site.reddit }}" class="icon fa-reddit-alien" target="_blank"><span class="label">Reddit</span></a></li>
    {% endif %}

    {% if site.medium %}
    <li><a href="https://medium.com/@{{ site.medium }}" class="icon fa-medium" target="_blank"><span class="label">Medium</span></a></li>
    {% endif %}

    {% if site.vimeo %}
    <li><a href="https://vimeo.com/{{ site.vimeo }}" class="icon fa-vimeo" target="_blank"><span class="label">Vimeo</span></a></li>
    {% endif %}

    {% if site.keybase %}
    <li><a href="https://keybase.io/{{ site.keybase }}" class="icon fa-key" target="_blank"><span class="label">Keybase</span></a></li>
{% endif %}

    {% if site.email %}
    <li><a href="mailto:{{ site.email }}" class="icon fa-envelope" target="_blank"><span class="label">Email</span></a></li>
    {% endif %}
</ul>
